body {
    margin: 0;
}

#nav_bar { 
    border-bottom: 1px solid black;
}

#article {
    padding: 20px;
    margin: 0;
}

#nav_bar ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    list-style: none;
}

#nav_bar ul a{
    color: black;
    text-decoration: none;
}